<div class="lang-switch" style="position: fixed; top: 15px; right: 15px; z-index: 999;">
  {% if page.lang == "it" %}
    <a href="/en/"><img src="/photos/flags/flag_uk.png" alt="English" width="50" /></a>
  {% else %}
    <a href="/"><img src="/photos/flags/flag_it.png" alt="Italiano" width="50" /></a>
  {% endif %}
</div>

<nav>
  <ul>
    {% assign pages_for_lang = site.pages | where:"lang", page.lang %}
    {% for p in pages_for_lang %}
      <li><a href="{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  </ul>
</nav>